.ant-advanced-search-form {
  background: #fbfbfb;
  border-radius: 6px;
    .ant-form-item {
      margin-bottom: 0 !important;
      display: flex;
      padding: 10px;
    }
  .ant-form-item-control-wrapper {
    flex: 1;
  }
}
