.tip{
    height: 40px;
    line-height: 40px;
    font-size: 14px !important;
    font-weight: normal;
}
.alert-info{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    a{
        color: #2db7f5;
    }
    strong{
        font-size: 14px;
        font-weight: 600;
    }
}