@import '~src/styles/default.less';

.ant-descriptions{
    .ant-descriptions-title{
        font-size: @defaultFontSize !important;
    }
    .ant-descriptions-item-content{
        font-size: @defaultFontSize !important;
    }
    .ant-descriptions-item-label{
        font-size: @defaultFontSize !important;
    }
}

.ant-modal-body{
    .ant-card-body{
        padding-top: 0;
    }
}