@import '~src/styles/default.less';

.ant-dropdown{
    min-width: 130px;
}

.ant-dropdown-link{
    height: 100%;
    display: flex;
    align-items: center;
    span{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.dropdowm-box{
    height: 100%;
    text-align: right;
    font-size: @defaultBg;
    width: auto;
    padding: 0 20px 0 0;
}