.login-box{
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .ant-form-item{
        margin-top: 20px;
    }
    .ant-row{
        height: 45px;
    }
}

.login-form {
    width: 500px;
    padding: 50px 30px;
    height: 350px;
    margin-top: -100px;
    background: #ffffff;
    box-shadow: 0 10px 40px rgba(34, 31, 31, 0.5);
    .login-tip{
        height: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }
  }
.login-form-forgot {
    float: right;
  }
.login-form-button {
    width: 100%;
  }

.devOps-info{
    width: 45%;
    height: 300px;
    font-size: 14px;
    line-height: 30px;
}