@import '~src/styles/default.less';
@import '~antd/es/style/themes/default.less';

.ant-layout-header{
    padding: 0 !important;
};
.header{
    position: relative;
    height: 64px;
    width: 100%;
    background: @defaultBg;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    .collapsed-btn{
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 1000;
    }
    .header-top{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        font-size: 14px;
        .logo{
            line-height: 60px;
            text-align: left;
            font-size: 24px;
            font-weight: 500;
            img{
                height: 40px;
                vertical-align: middle;
            }
            span{
                margin-left: 15px;
            }
        }
        a{
            margin-left: 20px;
        }
    }
}