.info-box{
    padding: 10px 20px;
    span{
        padding-right: 10px;
    }
    p{
        margin-top: 15px;
    }
}
.seft-table{
    .ant-table-footer {
        text-align: right;
        background: #ffffff;
        em{
            font-weight: 600;
            font-size: 14px;
        }
    }
}