@import '~src/styles/default.less';

.detail-container{
    padding: 40px;
    *>{
        font-size: @defaultFontSize !important;
    }
    background: #f1f1f1;
    .main{
        background: @defaultBg;
        padding: 20px;
        border-radius: 6px;
    }
}