.detail-header{
    background-color: #ff6a00;
    height: 68px;
    line-height: 68px;
    padding: 0 20px;
    .ant-dropdown-link{
        color: #ffffff !important;
        span{
            color: #ffffff !important;
        }
    }
}