@import '~src/styles/default.less';

.nav-left{
    font-size: @fontF !important;
    min-height: 100vh;
    .logo{
        height: 64px;
        padding: 0 15px;
        position: relative;
        display: block;
        display: flex;
        align-items: center;
        background: @primary-color;
        img{
            width: 48px;
            height: 48px;
        }
        h1{
            text-align: center;
            font-weight: 600;
            color: #ffffff;
            font-family: PingFangSC,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important;
            font-size: 18px;
            margin-left: 12px;
            line-height: 1;
            margin: 0;
            margin-left: 12px;
        }
    }
}

.menu-box{
    height: 100%;;
    position: relative;
    padding-top: 8px;
}

.ant-menu-submenu-title{
    span{
        font-size: 12px !important;
    }
}

.ant-menu-item{
    a{
        font-size: 12px !important;
    }
}