@import '~antd/es/style/themes/default.less';
@import '~src/styles/default.less';

.notice-view{
  padding: 0 10px;
}
.notice-box{
  width: 350px;
  box-shadow: @defaultTabShadow;
  border-radius: 5px;
  padding: 10px 10px;
  z-index: 1000;
  background: #ffffff;
  .ant-tabs-tab{
    font-size: @defaultFontSize;
  }
}

.bottom-bar {
  height: 38px;
  color: @text-color;
  line-height: 38px;
  text-align: center;
  border-top: 1px solid @border-color-split;
  border-radius: 0 0 @border-radius-base @border-radius-base;
  transition: all 0.3s;
  font-size: @defaultFontSize;
  div {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;

    &:only-child {
      width: 100%;
    }
    &:not(:only-child):last-child {
      border-left: 1px solid @border-color-split;
    }
  }
}