@import '~src/styles/default.less';

.ant-layout-footer{
    padding: 0 !important;
}

.btn-groups{
    padding: 0 0 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-items: center;
}
.footer{
    text-align: center;
    height: 80px;
    line-height: 80px;
    background: #ffffff;
}

.container{
    .main-container{
        padding: 0px 20px 20px 20px;
        *{
            font-size: @defaultFontSize;
        }
        .main{
            background: @defaultBg;
            padding: 20px;
            margin-top: 20px;
            border-radius: 6px;
        }
    }
}