/** 常用色值 **/
@colorA: #f9c700;
@colorB: #ff5400;
@colorC: #333;
@colorD: #6699cc;
@colorE: #9cb3c5;
@colorF: #e0e6ec;
@colorG: #666;
@colorH: #999;
@colorI: #ccc;
@colorJ: #d7d7d7;
@colorK: #e3e3e3;
@colorL: #f1f3f5;
@colorM: #ffffff;
@colorN: #e5e5e5;
@colorO: #afafaf;
@colorP: #ff8605;
@colorQ: #f9fbfc;
@colorR: #001529;
@colorS: #002140;
@colorT: #232526;
@colorU: #bebebe;

/** 常用字体大小 **/
@fontA: 34px;
@fontB: 22px;
@fontC: 18px;
@fontD: 16px;
@fontE: 14px;
@fontF: 12px;
@fontG: 20px;


@defaultBg: #ffffff;
@defaultFontSize: 12px;
@defaultBoxShadow: -1px -1px 1px #e1e1e1;
@defaultTabShadow: 0 0 15px 0 rgba(0,0,0,.1);
// transition: box-shadow .3s ease-out;