.logo{
    width: 280px;
    display: flex;
    align-items: center;
    height: 100%;
    img{
        width: 48px;
        height: 48px;
    }
    h1{
        font-size: 24px;
        font-weight: 400;
        margin: 0 !important;
        margin-left: 12px !important;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
}