@import '~src/styles/default.less';

.scan-history-tabs{
    top: 64px !important;
    box-shadow: @defaultTabShadow;
    border-top: 1px solid #f1f1f1;
    padding-bottom: 5px !important;
}
.scan-list-item{
    padding: 10px; 
    font-size: @defaultFontSize;
    .scan-list-item-content{
        background: #f1f1f1;
        padding: 10px 20px;
        .ant-col{
            text-decoration: underline;
            padding: 5px 10px;
            margin-bottom: 10px;
            a{
                color: #383d3d;
                &:hover{
                    color: @primary-color;
                }
            }
        }
    }
    h1{
        font-size: 14px !important;
        color: #001;
    }
}

.history-tip{
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: @defaultFontSize;
    border-top: 1px solid #f1f1f1;
    color: #595757;
    margin-top: 20px;
    &:hover{
        color: #ff6a00;;
    }
}

.empty-tip{
    height: 300px;
    line-height: 300px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: @defaultFontSize;
    color: #ff6a00;;
}