.avatar-uploader{
    .ant-upload {
        width: 138px;
        height: 138px;
    }
}

.ant-form-text{
    margin-left: 15px;
}

.select-box{
    max-width: 250px;
}

.tip{
    font-size: 12px !important;
    color: @primary-color;;
}