@import '~src/styles/default.less';

.detail-footer{
    background-color: rgb(24, 24, 24);
    height: 68px;
    line-height: 68px;
    padding: 0 20px;
    color: #ffffff;
    text-align: center;
    font-size: @defaultFontSize;
}