@import '~src/styles/default.less';

.e-breadcrumb-container{
    background: @defaultBg;
    padding: 10px 20px;
    span{
        font-size: @fontF;
    }
    .common-title{
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 15px;
        text-decoration: underline;
        &::before{
            position: absolute;
            content: "";
            width: 4px;
            height: 20px;
            background: #c94e0c;
            left: 0;
        }
    }
}

