@import '~src/styles/default.less';

.scan-history-box{
    font-size: @defaultFontSize;
}


.scan-history-tabs{
    position: relative;
    width: 1200px;
    padding: 20px;
    min-height: 300px;
    background: #ffffff;
    left: 200px !important;
    box-shadow: @defaultTabShadow;
}

.scan-history-tabs-collapsed{
    position: relative;
    width: 1320px;
    padding: 20px;
    background: #ffffff;
    min-height: 300px;
    left: 80px !important;
    box-shadow: @defaultTabShadow;
}