.operate-area{
    min-width: 350px;
    position: absolute;
    right: 20px;
    padding-right: 20px;
    text-align: right;
    .reload-btn{
        margin-left: 20px;
        margin-right: 10px;
        display: inline-block;
        svg{
            width: 14px;
            height: 14px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}