.sku-tpl-container{
    margin-bottom: 0 !important;
    .ant-form-item{
        margin-bottom: 0 !important;
    }
    .ant-card{
        margin-top: 0 !important;
    }
}

.ant-result >{
    font-size: 33px !important;
}

.ant-result-title{
    font-size: 24px !important;
    line-height: 1.8;
}

.result{
    svg {
        width: 72px;
        height: 72px;
    }
}