@import '~src/styles/default.less';

.notice-list{
    height: 100%;
    .notice-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-size: @defaultFontSize;
        .icon{
            width: 10%;
            height: 100%;
            .anticon{
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-size: 16px;
            }
        }
        .desc{
            padding-left: 10px;
            width: 65%;
        }
        .notice-tag{
            width: 25%;
            text-align: right;
        }
    }
}
.ant-tabs-bar {
    margin-bottom: 2px !important;
}