.pending{
    text-align: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 18px !important;
    }
    p{
        margin-top: 10px;
        position: relative;
        -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0, 0, 0, 0.1));
        letter-spacing: 4px;
        span{
            position: relative;
            font-size: 14px !important;
            display: inline-block;
            color: #000;
            font-size: 1em;
            animation: animate 1.8s ease-in-out infinite;
            animation-delay: calc(.2s*var(--i));
        }
    }
}

@keyframes animate{
    0%{
        transform: translateY(0px)
    }
    20%{
        transform: translateY(-5px)
    }
    40%,100%{
        transform: translateY(0px)
    }
}