.loading{
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px 50px;
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}