.goods-name{
    color: @primary-color;
    .sku-tpl-name{
        color: #895757;
    }
}

.goods-card{
    .ant-form-item {
        margin-bottom: 0 !important;
    }
    .goods-card-item{
        margin-bottom: 10px;
    }
}

.goods-info-alert{
    margin: 15px 0 10px 0;
    .anticon{
        svg{
            width: 24px;
            height: 24px;
        }
    }
}

.steps-action{
    text-align: right;
}

ul{
    list-style: none;
}

.step3{
    .ant-form-item{
        margin-bottom: 10px !important;
    }
}