.header-search{
    display: flex;
    height: 100%;
    align-items: center;
    .search-input{
        width: 0 !important;
        transition: width ease-in-out .3s;
    }
    .ant-input{
        border-radius: 0;
        font-size: 12px;
        padding: 5px 0px;
        border: 0;  
        margin-left: 5px;
        outline: none; 
        background-color: rgba(0, 0, 0, 0);
        &:hover,&:focus{
            border-color: #e1e1e1 !important;
        }
    }
    .search-input {
        &.show{
            width: 220px !important;
            .ant-input{
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
}