.type-cards{
   background:#58a !important;
   background-image: linear-gradient(white 2px,transparent 0),
       linear-gradient(90deg, white 2px,transparent 0),
      linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),
       linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,transparent 0);
   background-size:75px 75px,75px 75px,15px 15px,15px 15px;
   .cart-item{
       min-height: 220px;
       padding: 10px;
   }
}
