@import '~antd/dist/antd.less';
@import '~src/styles/default.less';

span,p,div,input,select,textarea,span>textarea,label,b{
  font-size: @defaultFontSize !important;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.operate-area{
  min-width: 350px;
  position: absolute;
  right: 20px;
  padding-right: 20px;
  text-align: right;
  .reload-btn{
      margin-left: 20px;
      margin-right: 10px;
      display: inline-block;
      svg{
          width: 14px;
          height: 14px;
          &:hover {
              cursor: pointer;
          }
      }
  }
}

.form-item-hide{
  display: none;
}

.ant-modal-body{
  padding: 14px 24px !important;
}